
body {
   margin: 0;
    background-image: linear-gradient(rgb(255, 255, 0), rgb(255, 255, 255));
}

.Text1 {
    margin-left: 47%;

}
#NameD{
    font-size: 26px;
    position: relative;
     margin-left: -5%;
}

#DCC {
    position: relative;
    left: -7%;
    font-size: 35px;
}

#void {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-radius: 3%;
    position: absolute;
    margin-left: 26%;
    max-width: auto;
    width: 50%;
    height: 770px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    box-shadow: 5px 10px 16px;
}

.Eletric {
    border-radius: 50%;
}

.Elements {
    z-index: -1;
    position: absolute;
    margin-top: 230px;
    left: 10px;
    width: 10%;
}

.imgs {
    z-index: -1;
    position: relative;
    left: 700px;
    max-width: 100%;
    height: auto;
}

.desc {
    position: relative;
    margin-top: 10%;
    left: 490px;
   

}

.att {
    position: relative;
    margin-top: 4%;
    left: 490px;

}