body {
    background-image: linear-gradient(rgb(255, 255, 0), rgb(255, 255, 255));
}

.Text1 {
    margin-left: 47%;

}

#DCC {
    position: relative;
    left: -7%;
    font-size: 35px;
}

#void {
    border-radius: 3%;
    position: absolute;
    margin-left: 26%;
    width: 50%;
    height: 740px;
    background-color: rgb(255, 255, 255);
    z-index: -1;
    box-shadow: 5px 10px 16px;
}

.Eletric {
    border-radius: 50%;
}

.Elements {
    z-index: -1;
    position: absolute;
    margin-top: 230px;
    left: 30px;
    width: 10%;
}

.imgs {
    z-index: -1;
    position: relative;
    left: 610px;
}

.desc {
    position: relative;
    margin-top: 10%;
    left: 400px;

}

.att {
    position: relative;
    margin-top: 4%;
    left: 400px;

}